@{
    ViewData["Title"] = "Página de Inicio";
}

<div id="main-index">
    <figure>
        <img src="~/Imagenes/Logo - Academia de idiomas.png"/>
    </figure>

    <aside>
        <section>
            <h1>LA MEJOR MANERA DE APRENDER OTRO IDIOMA</h1>

            <p>
                Clases de Inglés, Francés, Alemán, Portugués, Italiano,
                Ruso, Japonés o Español con aprendizaje totalmente
                garantizado. La manera más rápida, natural e interactiva
                para aprender inglés o el idioma que deseas y perfeccionarlo
                en tiempo récord, ya sea en modalidad virtual o presencial.
            </p>
        </section>
    </aside>
</div>