@{
    ViewData["Title"] = "Plan de Curso";
}

<header id="header-curso">
    <h1>PLAN DE CURSO</h1>
</header>

<div id="main-plan-curso">
    <section id="section-plan-curso">
        <article>
            <h2>Curso Básico</h2>
            <h5>Level 1A, Level 1B, Level 2A, Level 2B</h5>

            <p>
                El objetivo del primer curso es lograr un nivel de comunicación básico donde le permita desenvolverse de una manera rápida
                y segura. La duración de nuestro curso es de 120 horas distribuidas en 30 horas por nivel, la duración del nivel es 4 semanas.
                (Cursos recibidos de lunes a viernes de 1 hora 30 minutos).
            </p>
        </article>

        <article>
            <h2>Curso Intermedio</h2>
            <h5>Level 1, Level 2, Level 3, Level 4, Level 5</h5>
            <h5>Level 6, Level 7, Level 8, Level 9, Level 10</h5>

            <p>
                El curso intermedio consta de 10 niveles(30 horas cada uno). El alumno logra profundizar en gramática, vocabulario, listening
                y comprensión para un nivel más alto de su aprendizaje.
            </p>
        </article>

        <article>
            <h2>Curso Avanzado</h2>
            <h5>Level 11, Level 12, Level 13, Level 14, Level 15</h5>

            <p>
                EL curso avanzado consta de 5 niveles(30 horas cada uno). El alumno aprende un lenguaje más técnico de forma oral y escrita,
                alcanzando un nivel más avanzado en su vocabulario a un nivel profesional.
            </p>
        </article>

        <article>
            <h2>Curso Gramática Avanzada</h2>
            <h5>Level 16, Level 17, Level 18, Level 19, Level 20</h5>

            <p>
                El curso de gramática avanzada consta de 5 niveles(30 horas cada uno). El alumno perfecciona todo su conocimiento al máximo y
                hace efectivo su aprendizaje.
            </p>
        </article>
    </section>

    <section id="section-dias">

        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">
              <h2>Cursos Semanales</h2>
          </div>
          <div class="card-body text-primary">
              <ul>
                <li>Horarios disponibles de lunes a viernes, desde las 7:00 am hasta las 6:30 pm.</li>
                <li>8 idiomas disponibles.</li>
                <li>Aprendizaje garantizado.</li>
            </ul>

            <button type="button" class="btn btn-primary" ><a asp-area="" asp-controller="Usuario" asp-action="Registro">Inscribirse</a></button>

          </div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">
              <h2>Cursos Fin de Semana</h2>
          </div>
          <div class="card-body text-primary">
              <ul>
                <li>Si no tienes tiempo durante la semana.</li>
                <li>Horarios disponibles mañana o tarde, desde 7:00 am hasta 6:00 pm.</li>
                <li>8 idiomas disponibles.</li>
                <li>Aprendizaje garantizado.</li>
            </ul>
            <button type="button" class="btn btn-primary" ><a asp-area="" asp-controller="Usuario" asp-action="Registro">Inscribirse</a></button>
          </div>
        </div>

    </section>
</div>