@{
    ViewData["Title"] = "Registro de usuario";
}

<div id="main-registro">
    <section id="info">
        <h1>HABLA OTRO IDIOMA HOY</h1>

        <p>
            Más de un millón de personas hablan otro idioma gracias
            a nuestra Academia de Lenguas Internacionales. Empieza hoy y se
            parte de nuestra comunidad donde le garantizamos al 100% su aprendizaje.
        </p>

        <img src="~/Imagenes/world.svg"/>
    </section>

    <div class="container" id="form-registro">
        <form>
            <h2>Regístrate</h2>

            <div class="input-field">
                <i class="bi bi-person-circle"></i>
                <input type="text" placeholder="Nombre"/>
            </div>
            <div class="input-field">
                <i class="bi bi-person-circle"></i>
                <input type="text" placeholder="Apellido"/>
            </div>
            <div class="input-field">
                <i class="bi bi-envelope"></i>
                <input type="email" placeholder="Gmail"/>
            </div>
            <div class="input-field">
                <i class="bi bi-telephone"></i>
                <input type="tel" placeholder="Teléfono"/>
            </div>
            <div class="input-field">
                <i class="bi bi-lock-fill"></i>
                <input type="password" placeholder="Contraseña"/>
            </div>
            <div class="input-field">
                <i class="bi bi-at"></i>
                <input type="text" placeholder="idiomas"/>
            </div>
            <div class="input-field">
                <i class="bi bi-at"></i>
                <input type="text" placeholder="Presencial - semanal"/>
            </div>

            <input type="submit" value="Registrarse" class="btn btn-primary"/>
        </form>
    </div>
</div>

